% --------------- %
% ---  JOB    --- %
% --------------- %
Job: v9
  CmeLabel: 13 TeV
  POI: mu_XS_ttH  %change to either of mu_XS_ttH_2l,mu_XS_ttH_3l,mu_XS_ttH_4l,mu_XS_ttH_2l1tau,mu_XS_ttH_3l1tau,mu_XS_ttH_1l2tau for multi-mu fit
  ReadFrom: NTUP
  NtuplePaths: root://eosatlas.cern.ch//eos/atlas/atlascerngroupdisk/phys-higgs/HSG8/multilepton_Run2_Summer18/GN2/v9_??/
  InputName: ttHML
  LumiLabel: 79.9 fb^{-1}
  Lumi: XXX_LUMI % pb^-1
  %%%PlotOptions: YIELDS
  PlotOptions: YIELDS,CHI2,NORMSIG
  SummaryPlotRegions: l20tau_CRA_IntCO,l20tau_CRB_EXTCO,l20tau_CR1_emmm,l20tau_CR1_meee,l20tau_CR2_emmm,l20tau_CR2_meee,l20tau_CR3_emmm,l20tau_CR3_meee,l20tau_DRll01_1b_meee,l20tau_HT_lep_2b_meee,l20tau_HT_lep_emmm,l20tau_SR1_emmm,l20tau_SR1_meee,l20tau_SR2_emmm,l20tau_SR2_meee,l30tau_ttbar_Rest,l30tau_ttH,l30tau_ttW,l30tau_ttZ,l30tau_VV,l4_depZ,l4_enrZ,L12Tau,L31Tau,L2SS1Tau
  SignalRegionsPlot: l20tau_CRA_IntCO,l20tau_CRB_EXTCO,l20tau_CR1_emmm,l20tau_CR1_meee,l20tau_CR2_emmm,ENDL,l20tau_CR2_meee,l20tau_CR3_emmm,l20tau_CR3_meee,l20tau_DRll01_1b_meee,l20tau_HT_lep_2b_meee,ENDL,l20tau_HT_lep_emmm,l20tau_SR1_emmm,l20tau_SR1_meee,l20tau_SR2_emmm,l20tau_SR2_meee,ENDL,l30tau_ttbar_Rest,l30tau_ttH,l30tau_ttW,l30tau_ttZ,l30tau_VV,ENDL,l4_depZ,l4_enrZ,L12Tau,L31Tau,L2SS1Tau
  GetChi2: TRUE
  NtupleName: nominal
  DebugLevel: 1
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  BlindingThreshold: 0.15
  SystPruningShape: 0.01
  SystPruningNorm: 0.005
  SystLarge: 0.99
  %StatOnly: TRUE
  CorrelationThreshold: 0.05
  RankingMaxNP: 30
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  UseGammaPulls: TRUE
  MCstatThreshold: 0.01
  ImageFormat: png
  ReplacementFile: configFiles/replacement_v9.txt
  Selection: XXX_TRIGGER_SELECTION
  RunROOTMacros: TRUE
  SplitHistoFiles: TRUE
  KeepPruning: TRUE
% --------------- %
% ----- FIT ----- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  POIAsimov: 1
  UseMinos: mu_XS_ttH
 %UseMinos: mu_XS_ttH_2l,mu_XS_ttH_3l,mu_XS_ttH_4l,mu_XS_ttH_2l1tau,mu_XS_ttH_3l1tau,mu_XS_ttH_1l2tau for multi-mu fit

% --------------- %
% ---- LIMIT ---- %
% --------------- %

Limit: limit
  LimitType: ASYMPTOTIC
  LimitBlind: TRUE
  POIAsimov: 1
  SignalInjection: TRUE


% --------------- %
% --- REGIONS --- %
% --------------- %

Region: l30tau_ttH
  Label: 3L ttH SR
  TexLabel: 3LBFttHSR
  ShortLabel: 3L ttH SR
  Type: SIGNAL
  DataType: ASIMOV
  Variable: MVA3lCERN_weight_ttH,3,0.3,1
  %VariableTitle: #it{t#bar{t}H} discriminant
  VariableTitle: BDT output
  %Binning: AutoBin,TransfoD,1,5
  Binning: 0.300000, 0.324990, 0.349630, 0.381550, 0.417880, 0.477590, 1.000000
  YaxisTitle: Events / bin 
  Selection: XXX_LLLNTAU_BASIC_SELECTION &&(lep_ID_0!=-lep_ID_1||abs(Mll01-91.2e3)>10e3)&&(lep_ID_0!=-lep_ID_2||abs(Mll02-91.2e3)>10e3)&& MVA3lCERN_weight_ttH > 0.3 && MVA3lCERN_weight_ttW < 0.75 && MVA3lCERN_weight_ttZ < 0.75 && MVA3lCERN_weight_VV < 0.75 && MVA3lCERN_weight_ttbar < 0.3


% --------------- %
% - NORMFACTORS - %
% --------------- %

% ttH normfactor is free float in nearly all cases
NormFactor: mu_XS_ttH
  Title: mu_XS_ttH
  Nominal: 1
  Min: -10
  Max: 20
  %%Samples: ttH,ttH_WW,ttH_ZZ,ttH_tautau,ttH_Others,ttH_gamgam,ttH_WW_fake_L31Tau,ttH_ZZ_fake_L31Tau,ttH_tautau_fake_L31Tau,ttH_Others_fake_L31Tau
  Samples: ttH,ttH_WW,ttH_ZZ,ttH_tautau,ttH_Others,ttH_gamgam
  Constant: FALSE


% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: ttH
  Type: SIGNAL
  Title: "#it{t#bar{t}H} (SM)"
  TexTitle: "$t\bar{t}H$ (SM)"
  FillColor: 632
  LineColor: 632
  NtupleFiles: systematic/mc16a/345873,systematic/mc16a/345874,systematic/mc16a/345875,systematic/mc16d/345873,systematic/mc16d/345874,systematic/mc16d/345875
  GridDID: user.kchoi:user.kchoi.ttHML_80fb_ttH
  UseMCstat: FALSE
  Selection: (XXX_TIGHT_SELECTION&&XXX_PROMPT_SELECTION ) || is1L2Tau
  %MCweight: 1*(is1L2Tau?XXX_L2TAU_MCWEIGHT:XXX_PROMPT_MCWEIGHT)

 Sample: ttW
  Type: BACKGROUND
  Title: "#it{t#bar{t}W}"
  TexTitle: "$t\bar{t}W$"
  FillColor: 5
  LineColor: 1
  NtupleFiles: systematic/mc16a/410155,systematic/mc16d/410155
  GridDID: user.kchoi:user.kchoi.ttHML_80fb_ttW
  Selection: (XXX_PROMPT_SELECTION && XXX_TIGHT_SELECTION) || is1L2Tau 
  %MCweight: 1*(is1L2Tau?XXX_L2TAU_MCWEIGHT:XXX_PROMPT_MCWEIGHT)

Sample: ttZ
  Type: BACKGROUND
  Title: "#it{t#bar{t}}(#it{Z}/#it{#gamma}*)"
  TexTitle: "$t\bar{t}Z/\gamma$"
  Group: "#it{t#bar{t}}(#it{Z}/#it{#gamma}*)"
  FillColor: 7
  LineColor: 1
  NtupleFiles:  systematic/mc16a/410156,systematic/mc16a/410157,systematic/mc16a/410218,systematic/mc16a/410219,systematic/mc16a/410220,systematic/mc16d/410156,systematic/mc16d/410157,systematic/mc16d/410218,systematic/mc16d/410219,systematic/mc16d/410220
  GridDID: user.kchoi:user.kchoi.ttHML_80fb_ttZ
  Selection: (XXX_PROMPT_SELECTION && XXX_TIGHT_SELECTION) || is1L2Tau
  %MCweight: 1*(is1L2Tau?XXX_L2TAU_MCWEIGHT:XXX_PROMPT_MCWEIGHT)
   
% --------------- %
%   SYSTEMATICS   %
% --------------- %

Systematic: ATLAS_JES_PunchThrough
  Title: ATLAS_JES_PunchThrough
  Type: HISTO
  Exclude: XXX_EXCLUDE_DATA_DRIVEN,threeTop
  NtupleNameUp: JET_CategoryReduction_JET_PunchThrough_MC16__1up
  NtupleNameDown:JET_CategoryReduction_JET_PunchThrough_MC16__1down
  Smoothing: 40
  Samples: XXX_AVAILABLE_SYS
  Category: Instrumental