% --------------- %
% ---  JOB    --- %
% --------------- %

Job: wz_test17Less_servicex
  CmeLabel: 13 TeV
  POI: mu_XS_WZb
  ReadFrom: NTUP
  NtuplePath: wz_test17Less_servicex/Data
  LumiLabel: 140 fb^{-1}
  Lumi: 138965.2 % pb^-1
  PlotOptions: YIELDS %NORATIO
  BlindingThreshold: 0.05
  SplitHistoFiles: True
  NtupleName: nominal
  ImageFormat: png,root
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  SystLarge: 3
  CorrelationThreshold: 0.05
  RankingMaxNP: 30
  HistoChecks: NOCRASH
  ReplacementFile: config/replacement_group.txt
  Selection: XXX_TRIGGER_SELECTION && XXX_lep_tightStrng && nJets_OR==1 
  UseServiceX: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  NumCPU: 15
  POIAsimov: 1
  UseMinos: mu_XS_WZb

Limit: limit
  LimitType: ASYMPTOTIC
  %POIAsimov: 1
  SignalInjection: TRUE


% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: mu_XS_WZb
  Title: mu_XS_WZb
  Nominal: 1
  Min: -10
  Max: 20
  Samples: WZ_b
  Constant: FALSE


% --------------- %
% --- REGIONS --- %
% --------------- %

Region: not_85
  Type: SIGNAL
  Label:"1j, <85% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_85==0"
  %DataType: ASIMOV

Region: WP_1b_77_85
  Type: SIGNAL
  Label:"1j, 77%-85% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_85==1 && nJets_OR_DL1r_77==0"
  %DataType: ASIMOV

Region: WP_1b_70_77
  Type: SIGNAL
  Label:"1j, 70%-77% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_77==1 && nJets_OR_DL1r_70==0"
  %DataType: ASIMOV

Region: WP_1b_60_70
  Type: SIGNAL
  Label:"1j, 60%-70% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_70==1 && nJets_OR_DL1r_60==0"
  %DataType: ASIMOV

Region: WP_1b_60
  Type: SIGNAL
  Label:"1j, >60% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_60==1 && tZ_score_test > XXX_tZcut"
  %DataType: ASIMOV

Region: tZ_CR
  Type: CONTROL
  Label:"tZ CR"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: " nJets_OR==1 && nJets_OR_DL1r_60==1 && tZ_score_test < XXX_tZcut"
  %DataType: ASIMOV

% --------------- %
% --- SAMPLES --- %
% --------------- %


%%%%%% DATA %%%%%%%%%%%%

Sample: Data
  Title: Data
  Type: DATA
  %NtupleFiles: data15,data16,data17,data18
  NtupleFiles: Data
  Selection: XXX_3l_SELECTION
  GridDID: user.kchoi:user.kchoi.WZana_Data_new

%%%%%% SIGNAL %%%%%%%%%%

Sample: WZ_b
  Type: SIGNAL
  UseMCstat: FALSE
  Title: WZ_b
  Group: \it{WZ} + b
  TexTitle: $WZ + b$
  FillColor: 9
  LineColor: 1
  NtupleFile: WZ_b
  Selection: jet_flavor==2 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT 
  GridDID: user.kchoi:user.kchoi.WZana_WZ

Sample: WZ_b_VBS                                                                                                           
  Type: SIGNAL
  UseMCstat: FALSE
  Title: WZ_b_VBS                                                                                                     
  Group: \it{WZ} + b
  TexTitle: $WZ + b$
  FillColor: 9
  LineColor: 1
  NtupleFile: WZ_b_VBS
  Selection: jet_flavor==2 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_WZ_VBS

Sample: WZ_c
  Type: BACKGROUND
  UseMCstat: FALSE
  Title: WZ_c
  Group: \it{WZ} + c
  TexTitle: $WZ + c$
  FillColor: 46
  LineColor: 1
  NtupleFile: WZ_c
  Selection: jet_flavor==1 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT 
  GridDID: user.kchoi:user.kchoi.WZana_WZ

Sample: WZ_c_VBS
  Type: BACKGROUND
  UseMCstat: FALSE
  Title: WZ_c_VBS
  Group: \it{WZ} + c
  TexTitle: $WZ + c$
  FillColor: 46
  LineColor: 1
  NtupleFile: WZ_c_VBS
  Selection: jet_flavor==1 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_WZ_VBS

Sample: WZ_l
  Type: BACKGROUND
  %UseMCstat: FALSE
  Title: WZ_l
  Group: \it{WZ} + l
  TexTitle: $WZ + l$
  FillColor: 30
  LineColor: 1
  NtupleFile: WZ_l
  Selection: jet_flavor==0 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT 
  GridDID: user.kchoi:user.kchoi.WZana_WZ

Sample: WZ_l_VBS
  Type: BACKGROUND
  %  UseMCstat: FALSE
  Title: WZ_l_VBS
  Group: \it{WZ} + l
  TexTitle: $WZ + l$
  FillColor: 30
  LineColor: 1
  NtupleFile: WZ_l_VBS
  Selection: jet_flavor==0 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_WZ_VBS

Sample: VV_other_l
  Type: BACKGROUND
  Title: VV_other_l                                                                                               
  Group: \it{Other\ VV}
  TexTitle: Other VV
  FillColor: 608
  LineColor: 1                                                                                                   
  NtupleFile: VV_other_l
  MCweight: XXX_MCWEIGHT
  Selection: XXX_3l_SELECTION && jet_flavor==0
  GridDID: user.kchoi:user.kchoi.WZana_VV_other_l

Sample: ZZ_b
  Type: BACKGROUND
  Title: ZZ_b                                                                                                                
  Group: \it{ZZ}                                                                                                             
  TexTitle: ZZ
  FillColor: 606 
  LineColor: 1                                                                                                               
  NtupleFile: ZZ_b
  Selection: XXX_3l_SELECTION && jet_flavor==2
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ZZ

Sample: ZZ_c
  Type: BACKGROUND
  Title: ZZ_c
  Group: \it{ZZ}
  TexTitle: ZZ
  FillColor: 606
  LineColor: 1
  NtupleFile: ZZ_c                                             
  Selection: XXX_3l_SELECTION && jet_flavor==1
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ZZ

Sample: ZZ_l
  Type: BACKGROUND
  Title: ZZ_l
  Group: \it{ZZ}
  TexTitle: ZZ
  FillColor: 606
  LineColor: 1
  NtupleFile: ZZ_l                                                        
  Selection: XXX_3l_SELECTION && jet_flavor==0
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ZZ

%%%%% BACKGROUND %%%%%%

Sample: ttW
  Type: BACKGROUND
  Title: \it{t\bar{t}W}
  TexTitle: $t\bar{t}W$
  FillColor: 5
  LineColor: 1
  NtupleFile: ttW
  Selection:  XXX_3l_SELECTION  
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ttW

Sample: ttZ
  Type: BACKGROUND
  Title: \it{t\bar{t}Z}
  TexTitle: $t\bar{t}Z$
  Group: \it{t\bar{t}Z}
  FillColor: 7
  LineColor: 1
  NtupleFile: ttZ
  Selection:  XXX_3l_SELECTION 
  MCweight: XXX_MCWEIGHT  
  GridDID: user.kchoi:user.kchoi.WZana_ttZ

Sample: tZ
  Type: BACKGROUND
  Title: \it{tZ}
  TexTitle: $tZ$
  FillColor: 42
  LineColor: 1
  NtupleFile: tZ
  Selection: XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_tZ

Sample: tW
  Type: BACKGROUND
  Title: \it{tW}
  TexTitle: $tW$
  Group: \it{Other}
  FillColor: 920
  LineColor: 1
  NtupleFile: tW
  Selection:  XXX_3l_SELECTION 
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_tW

Sample: WtZ
  Type: BACKGROUND
  Title: \it{WtZ}
  TexTitle: $WtZ$
  Group: \it{Other}
  FillColor: 920
  LineColor: 1
  NtupleFile: WtZ
  Selection:  XXX_3l_SELECTION 
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_WtZ_ad

Sample: ttH
  Type: BACKGROUND
  Title: \it{t\bar{t}H}
  TexTitle: $t\bar{t}H$
  FillColor: 632
  LineColor: 632
  NtupleFile: ttH
  Selection:  XXX_3l_SELECTION 
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ttH



% --------------- %
%   SYSTEMATICS   %
% --------------- %

% --------------- %
% LUMINOSITY SYST %
% --------------- %

Systematic: ATLAS_lumi
  Title: ATLAS_lumi
  Type: OVERALL
  OverallUp: 0.032
  OverallDown: -0.032
  Category: Instrumental

%%%%%%%%%% THEORY %%%%%%%%%%
%%% H BRS %%%

Systematic: ATLAS_BR_WW
  Title: ATLAS_BR_WW
  Type: OVERALL
  OverallUp:XXX_ATLAS_BR_WW_UP
  OverallDown:XXX_ATLAS_BR_WW_DO
  Samples: ttH
  Category: Theory

Systematic: ATLAS_BR_ZZ
  Title: ATLAS_BR_ZZ
  Type: OVERALL
  OverallUp:XXX_ATLAS_BR_ZZ_UP
  OverallDown:XXX_ATLAS_BR_ZZ_DO
  Samples: ttH
  Category: Theory

Systematic: ATLAS_BR_tautau
  Title: ATLAS_BR_tautau
  Type: OVERALL
  OverallUp:XXX_ATLAS_BR_tautau_UP
  OverallDown:XXX_ATLAS_BR_tautau_DO
  Samples: ttH
  Category: Theory

Systematic: ATLAS_BR_Others
  Title: ATLAS_BR_Others
  Type: OVERALL
  OverallUp: XXX_ATLAS_BR_Others_UP
  OverallDown: XXX_ATLAS_BR_Others_DO
  Samples: ttH
  IsFreeParameter: FALSE
  Category: Theory

%%% ttH %%%

Systematic: ttH_XS_QCDscale
  Title: ttH cross section (scale vars)
  Type: OVERALL
  OverallUp: XXX_ttH_XS_QCDscale_UP
  OverallDown: XXX_ttH_XS_QCDscale_DO
  Samples: ttH
  %Regions: XXX_REGIONS_XS_TTH
  Category: Theory

Systematic: ttH_XS_PDFunc
  Title: ttH cross section (PDF)
  Type: OVERALL
  OverallUp: XXX_ttH_XS_PDFunc_UP
  OverallDown: XXX_ttH_XS_PDFunc_DO
  Samples: ttH
  %Regions: XXX_REGIONS_XS_TTH
  Category: Theory

%%% ttW %%%

Systematic: ttW_XS_QCDscale
  Title: ttW cross section (scale vars)
  Type: OVERALL
  OverallUp: XXX_ttW_XS_QCDscale_UP
  OverallDown: XXX_ttW_XS_QCDscale_DO
  Samples: ttW
  Category: Theory
  %Regions: XXX_REGIONS_NOT_FLOAT_TTW

Systematic: ttW_XS_PDFunc
  Title: ttW cross section (PDF)
  Type: OVERALL
  OverallUp: XXX_ttW_XS_PDFunc_UP
  OverallDown: XXX_ttW_XS_PDFunc_DO
  Samples: ttW
  Category: Theory
  %Regions: XXX_REGIONS_NOT_FLOAT_TTW

%%% ttZ %%%

Systematic: ttZ_XS_QCDscale
  Title: ttZ cross section (scale vars)
  Type: OVERALL
  OverallUp: XXX_ttZ_XS_QCDscale_UP
  OverallDown: XXX_ttZ_XS_QCDscale_DO
  Samples: ttZ
  Category: Theory
  %Regions: XXX_REGIONS_NOT_FLOAT_TTZ

Systematic: ttZ_XS_PDFunc
  Title: ttZ cross section (PDF)
  Type: OVERALL
  OverallUp: XXX_ttZ_XS_PDFunc_UP
  OverallDown: XXX_ttZ_XS_PDFunc_DO
  Samples: ttZ
  Category: Theory
  %Regions: XXX_REGIONS_NOT_FLOAT_TTZ

%%% Others %%%

Systematic: tZ_XS
  Title: tZ cross section
  Type: OVERALL
  OverallUp: XXX_tZ_XS_UP
  OverallDown: XXX_tZ_XS_DO
  Samples: tZ
  Category: Theory

Systematic: tZ_XS_QCDscale
  Title: tZ_XS_QCDscale
  Type: OVERALL
  OverallUp: XXX_tZ_XS_QCDscale_UP
  OverallDown: XXX_tZ_XS_QCDscale_DO
  Samples: tZ
  Category: Theory

Systematic: tZ_XS_PDFunc
  Title: tZ cross section (PDF)
  Type: OVERALL
  OverallUp: XXX_tZ_XS_PDFunc_UP
  OverallDown: XXX_tZ_XS_PDFunc_DO
  Samples: tZ
  Category: Theory

Systematic: WtZ_XS
  Title: WtZ_XS
  Type: OVERALL
  OverallUp: XXX_WtZ_XS_UP
  OverallDown: XXX_WtZ_XS_DO
  Samples: WtZ
  Category: Theory

Systematic: Diboson_XS_l
  Title: Diboson_XS_l
  Type: OVERALL
  OverallUp: XXX_diboson_l_XS_UP
  OverallDown: XXX_diboson_l_XS_DO
  Samples: VV_other_l,ZZ_l
  Category: Theory

%%%%%%%% TTW SCALE %%%%%%%%%

Systematic: ttW_varR
  Title: ttW_varR
  WeightSufUp: scale_varRup/totalEventsWeighted
  WeightSufDown: scale_varRdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttW
%  ReferenceSample: ttW_noLepSF
  Category: Theory

Systematic: ttW_varF
  Title: ttW_varF
  WeightSufUp: scale_varFup/totalEventsWeighted
  WeightSufDown: scale_varFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttW
%  ReferenceSample: ttW_noLepSF
  Category: Theory

Systematic: ttW_varRF
  Title: ttW_varRF
  WeightSufUp: scale_varRFup/totalEventsWeighted
  WeightSufDown: scale_varRFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttW
%  ReferenceSample: ttW_noLepSF
  Category: Theory


%%%%%%%%% WZ scale %%%%%%%%%

Systematic: WZ_varR
  Title: WZ_varR
  WeightSufUp: scale_varRup/totalEventsWeighted                                                                              
  WeightSufDown: scale_varRdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: WZ_b,WZ_c,WZ_l
%  ReferenceSample: WZ_noLepSF
  Category: Theory

Systematic: WZ_varF                                                                                                          
  Title: WZ_varF                                                                                                             
  WeightSufUp: scale_varFup/totalEventsWeighted
  WeightSufDown: scale_varFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: WZ_b,WZ_c,WZ_l
%  ReferenceSample: WZ_noLepSF                                                                                               
  Category: Theory
                                                                                                                          
Systematic: WZ_varRF                                                                                                        
  Title: WZ_varRF
  WeightSufUp: scale_varRFup/totalEventsWeighted                                                                             
  WeightSufDown: scale_varRFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: WZ_b,WZ_c,WZ_l
%  ReferenceSample: WZ_noLepSF                                                                                               
  Category: Theory


%%%%%%%%% tZ scale %%%%%%%%%

Systematic: tZ_varR
  Title: tZ_varR
  WeightSufUp: scale_varRup/totalEventsWeighted
  WeightSufDown: scale_varRdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: tZ
%  ReferenceSample: tZ_noLepSF
  Category: Theory

Systematic: tZ_varF
  Title: tZ_varF
  WeightSufUp: scale_varFup/totalEventsWeighted
  WeightSufDown: scale_varFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: tZ
%  ReferenceSample: tZ_noLepSF
  Category: Theory

Systematic: tZ_varRF
  Title: tZ_varRF
  WeightSufUp: scale_varRFup/totalEventsWeighted
  WeightSufDown: scale_varRFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: tZ
%  ReferenceSample: tZ_noLepSF
  Category: Theory



%%%%%%%%% TTZ SCALE %%%%%%%%%

Systematic: ttZ_varR
  Title: ttZ_varR
  WeightSufUp: scale_varRup/totalEventsWeighted
  WeightSufDown: scale_varRdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttZ
%  ReferenceSample: ttZ_noLepSF
  Category: Theory

Systematic: ttZ_varF
  Title: ttZ_varF
  WeightSufUp: scale_varFup/totalEventsWeighted
  WeightSufDown: scale_varFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttZ
%  ReferenceSample: ttZ_noLepSF
  Category: Theory

Systematic: ttZ_varRF
  Title: ttZ_varRF
  WeightSufUp: scale_varRFup/totalEventsWeighted
  WeightSufDown: scale_varRFdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttZ
%  ReferenceSample: ttZ_noLepSF
  Category: Theory


%%%%%%%%%% PILE-UP %%%%%%%%%

Systematic: ATLAS_PRW_DATASF
 Title: ATLAS_PRW_DATASF
 Type: HISTO
 WeightSufUp: weight_pileup_UP/weight_pileup
 WeightSufDown: weight_pileup_DOWN/weight_pileup
 Smoothing: 40
 %Exclude: XXX_EXCLUDE_DATA_DRIVEN
 Category: Instrumental

%%%%%%%%%%% JETS %%%%%%%%%%%%

Systematic: ATLAS_JES_EffectiveNP_1
  Title: ATLAS_JES_EffectiveNP_1
  Type: HISTO
  %Exclude: XXX_EXCLUDE_DATA_DRIVEN
  NtupleNameUp: CategoryReduction_JET_EffectiveNP_Detector1__1up
  NtupleNameDown:CategoryReduction_JET_EffectiveNP_Detector1__1down
  Smoothing: 40
  Samples: XXX_AVAILABLE_SYS
  Category: Instrumental
