% --------------- %
% ---  JOB    --- %
% --------------- %

Job: example_servicex
  CmeLabel: 13 TeV
  POI: mu_XS
  ReadFrom: NTUP
  NtuplePaths: example
  LumiLabel: 140 fb^{-1}
  Lumi: 138965.2 % pb^-1
  PlotOptions: YIELDS %NORATIO
  BlindingThreshold: 0.05
  SplitHistoFiles: True
  NtupleName: nominal
  ImageFormat: eps,png,root
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  SystLarge: 3
  CorrelationThreshold: 0.05
  RankingMaxNP: 30
  HistoChecks: NOCRASH
  ReplacementFile: config/replacement_example.txt
  Selection: XXX_TRIGGER_SELECTION && XXX_lep_tightStrng && nJets_OR==1 

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  FitBlind: TRUE
  NumCPU: 15
  POIAsimov: 1
  UseMinos: mu_XS

Limit: limit
  LimitType: ASYMPTOTIC
  %POIAsimov: 1
  SignalInjection: TRUE

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: mu_XS
  Title: mu_XS
  Nominal: 1
  Min: -10
  Max: 20
  Samples: Signal
  Constant: FALSE

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: WP_1b_60
  Type: SIGNAL
  Label:"1j, >60% WP"
  VariableTitle: "Nevt"
  Variable: "1",1,0,1
  Selection: nJets_OR==1 && nJets_OR_DL1r_60==1 && tZ_score_test > XXX_tZcut"
  %DataType: ASIMOV

Region: WP_1b_60
  Type: SIGNAL
  Label:"1j, >60% WP"
  VariableTitle: "Leading lepton pT [GeV]"
  Variable: "lep_Pt_0/1e3",100,0,1000
  Selection: "nJets_OR==1 && nJets_OR_DL1r_60==1 && tZ_score_test > XXX_tZcut"
  %DataType: ASIMOV

Region: tZ_CR
  Type: CONTROL
  Label:"tZ CR"
  VariableTitle: "tZ score"
  Variable: "tZ_score_test",120,0,1.2
  Selection: " nJets_OR==1 && nJets_OR_DL1r_60==1 && tZ_score_test < XXX_tZcut"
  %DataType: ASIMOV

% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: Signal
  Type: SIGNAL
  UseMCstat: FALSE
  Title: Signal
  Group: Signal
  TexTitle: $Signal$
  FillColor: 9
  LineColor: 1
  NtupleFile: servicex/Signal
  Selection: jet_flavor==2 && XXX_3l_SELECTION
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_WZ

Sample: ttW
  Type: BACKGROUND
  Title: \it{t\bar{t}W}
  TexTitle: $t\bar{t}W$
  FillColor: 5
  LineColor: 1
  NtupleFile: ttW
  Selection:  XXX_3l_SELECTION  
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ttW

Sample: ttH
  Type: BACKGROUND
  Title: \it{t\bar{t}H}
  TexTitle: $t\bar{t}H$
  FillColor: 632
  LineColor: 632
  NtupleFile: servicex/ttH
  Selection:  XXX_3l_SELECTION 
  MCweight: XXX_MCWEIGHT
  GridDID: user.kchoi:user.kchoi.WZana_ttH
  
% --------------- %
%   SYSTEMATICS   %
% --------------- %

Systematic: ATLAS_lumi
  Title: ATLAS_lumi
  Type: OVERALL
  OverallUp: 0.032
  OverallDown: -0.032
  Category: Instrumental

Systematic: ttW_varR
  Title: ttW_varR
  WeightSufUp: scale_varRup/totalEventsWeighted
  WeightSufDown: scale_varRdown/totalEventsWeighted
  DropNorm: all
  Smoothing: XXX_SMOOTHING_SCALES
  Samples: ttW
  Category: Theory

Systematic: ATLAS_JES_Flavor_Comp
  Title: ATLAS_JES_Flavor_Comp
  Type: HISTO
  NtupleNameUp: CategoryReduction_JET_Flavor_Composition__1up
  NtupleNameDown: CategoryReduction_JET_Flavor_Composition__1down
  Smoothing: 40
  Samples: ttW
  Category: Instrumental